//Color variables
$color-bg: #FFF;
$color-bg-dark: #FAFAFA;
$color-bg-header: #111;
$color-bg-footer: #444;
$color-text-header: #FFF;
$color-section: #F3F4E4;
$color-text: #010101;
$color-text-second: #666;
$color-text-third: #EEE;
$color-first: #BE3C3A;
$color-secound: #D0BB49;
$color-third: #4BAE97;

$border-bottom: #ddd;

//font variables
