@import "settings";

body{
    background-color: $color-bg;
    color: $color-text;
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 18px;
}  
a{
    color: $color-text-header;
    display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    flex: 1;
}

/***HEADER***/
#header{
    background-color: $color-bg-header;
    padding: 10px 0;
    
    .header__center{
        display: flex;
        align-items: center; 
    }
    a{
        width: fit-content;
    }
    
    .main-nav{
        display: flex;
        width: 100%;
    
        li{
            font-size: 1.25rem;
            flex: 1;
//            display: flex;
            justify-content: center;
        }
    }
}
/***END HEADER***/
 
/***MAIN***/
    /*About me section*/
.about-me{
    background-color: $color-bg;
    padding: 40px 0px;
    border-bottom: 1px solid $border-bottom;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    
    .about-me__distinction{
        font-size: 1.8rem;
        color: $color-text-second;
        line-height: 1.3em;
        margin-bottom: 0.7em;
    }
    
    .col-1{
        padding: 0 15px;
    }
}
    /*END About me section*/

    /*Portfolio section*/
.portfolio{
    background-color: $color-bg-dark;
    .portfolio__project{
        display: flex;
        flex-wrap: wrap;
        
        .portfolio__project__item{
            flex:1;
            list-style-type: none;
//            display: flex;
            justify-content: center;
            padding: 10px 0;
            
//            &:hover{
//                cursor: pointer;
//            }
        }
    }
    
}
    /*END Portfolio section*/
/***END MAIN***/


